body {
  font-family: "Modern Serif";
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
.container-fluid {
text-align:center;
    background-color: #B7CADB;
    font-family: "Lucida Handwriting", cursive;
      font-size: 25px;
}
.icons {
  font-size: 20px;
  text-align: right;
}

#items {
  text-align: center;
}
.card {
  text-align: center;
  display: inline-block;
  background-color: inherit;
  border: solid 15px;
  border-width: thin;
  width: 300px;
  margin: 30px;
}

.card-text {
  text-align: center;
}
.container-responsive {
  text-align: left;
  background-color: #B7CAD8;
  padding: 20px;
}
.footer {
  background-color: #B7CAD8;
  padding: 20px;
}
i {
  font-size: 30px;
}
#items {
  text-align: center;
}


* {
  box-sizing: border-box;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
h2 {
  text-align: center;
}
.myOverlay{
  display:flex;
  justify-content: flex-end;
}
.fa {

  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #99C9E0;
  color: white;
}

.fa-twitter {
  background: #99C9E0;
  color: white;
}

.fa-google {
  background: #99C9E0;
  color: white;
}

.fa-instagram {
  background: #99C9E0;
  color: white;
}
.dropbtn {
  background-color: #F0F0F0;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#f1f1f1 ;}
